body {
    background-image: url('../images/pink-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
#enter {
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#search {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(7, 86, 204);
}
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
 
header {
    padding: 0 0 40px 0;
}

.weather-container {
    display: block;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 30px 30px 60px hsla(197, 89%, 38%, 0.89);
    max-width: 600px;
    background-color: #df9cc9b7;
}

.city-name {
    font-size: 40px;
    margin: 0;
    line-height: 48px;
    color: rgb(1, 30, 73);
}

.weather-data {
display: flex;
justify-content: space-between;

}

.weather-info {
    color: rgb(1, 30, 73);
}
.weather-info strong{
    color: rgb(7, 86, 204);
}

.weather {
   display: flex; 
}

#weather-icon {
width: 88px;
height: 88px;

}

.weather-digit {
font-size: 77px;
font-weight: bold;
margin-left: 20px;
color: rgb(1, 30, 73);
}

.weather-unit {
margin-top: 16px;
font-size: 24px;
color: rgb(1, 30, 73);
}

main {
   padding: 30px; 
}
footer {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    font-weight: 200;
}

footer {
    color: rgb(1, 30, 73);
    padding: 40px 0 0 0 ;
}
footer a {
    text-decoration: none;
    color: rgb(7, 86, 204);
    font-weight: 500;
}

/*FORECAST*/
.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}
.forecast-date {
    text-align: center;
    color: rgb(78, 5, 72);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.forecast-icon {
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
    
}

.forecast-temps {
    text-align: center;
    color: purple;
    display: flex;
    justify-content: center;
    margin-top: 10px;



}

.temp {
    padding: 0 10px;
}


